{% extends "base.html" %}
{% load quiz_tags %}

{% block title %}Edit Quiz{% endblock %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'quiz:quiz_list' %}">List</a></li>
        <li class="breadcrumb-item"><a href="{{quiz.get_absolute_url}}">Detail</a></li>
        <li class="breadcrumb-item active">Edit</li>
    </ol>
        <h2>Question Preview</h2>
				<hr width="100%">
        {% for question in questions %}
            <div class="alert alert-dismissible alert-primary">
                <strong>This is a preview question.</strong> The answer will not be shown in the quiz.
            </div>
            <p>Question: {{question.question}}</p>
            <p>Answer: {{question.answer}}</p>
            <p>Question Type: {{question.question_type}}</p>
						<p>Delete Question: Delete</p>
            <hr width="100%">
        {% endfor %}
        <div class="container">
            {% if new_question %}
                <h2> Your Question has been added</h2>
                <br></br>
                <h2>Add New Question</h2>
                <form method="post">
                    {{ question_form }}
                    {% csrf_token %}
                    <p><input type="submit" value="Add question"></p>
                </form>

            {% else %}
                <h2>Add New Question</h2>
                <form method="post">
                    {{ question_form.errors }}
										{% for field in question_form %}
											<p>{{field.label_tag}}</p>
											<p>{{field|cssadd:"form-control"}}</p>
										{% endfor %}
                    {% csrf_token %}
                    <p><input class="btn btn-primary" type="submit" value="Add question"></p>
                </form>
            {% endif %}
	{% else %}
		<a class="nav-link" href="{% url 'login' %}"><h2>Please login here</h2></a>
    {% endif %}
    </div>


{% endblock %}
