{% extends "base.html" %}

{% block title %}Quiz Instance{% endblock %}

{% block content %}
	{% if user.is_authenticated %}
	<div class="container p-4">
		<h2>"{{quiz_instance.quiz}}" results for {{quiz_instance.user}}</h2>
	</div>
	<div class="container p-2">
		<h5>Total Score: {{quiz_instance.score}}/{{total_questions}}</h6>	
		<hr width="100%">


	</div>
	<div class="container pl-4">

	{% for UserAnswer in quiz_instance.UserAnswer.all %}
		{% if UserAnswer.question.answer != UserAnswer.answer %}
			<div class="alert alert-dismissible alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>Oh snap!</strong> <a href="#" class="alert-link">Wrong Answer</a>
			</div>
		{% else %}
			<div class="alert alert-dismissible alert-success">
				<strong>Well done!</strong> You got the  <a href="#" class="alert-link">correct answer</a>.
			</div>
		{% endif %}
		<p>Question: {{UserAnswer.question}}</p>
		<p>Your Answer: {{UserAnswer.answer}}</p>
		<p>Answer: {{UserAnswer.question.answer}}</p>
		<hr width="100%">
	{% endfor %}
	<a href="{% url 'quiz:pdf-view' quiz_instance.pk %}"><button type="button" class="btn btn-primary">View PDF</button>
	</div>
	{% else %}
		<a class="nav-link" href="{% url 'login' %}"><h2>Please login here</h2></a>
	{% endif %}


{% endblock %}
